<h1>About Tech University</h1>

<p>Tech University is...</p>
<ul>
  <li>a place to learn free of charge</li>
  <li>a place to learn tech and only tech</li>
  <li>located in an unknown location</li>
  <li>a place where the faculty have no names</li>
  <li>a place where classes lead to no degrees</li>
</ul>